body {
  background: white;
  color: #333;
  font-family: sans
}
input {
  font-size:30px;
  font-weight:bold;
}

.info {
  font-style:italic;
  color:#aaa;
}
.stop {
  font-weight:bold;
}
.bkvJarat {
  text-decoration:none;
    font-weight: bold;
    font-size: 3mm;
    padding: 1px;
    margin:2mm;
    white-space: nowrap;
    border-style: solid;
    border-width: thin;
    padding-left:3px;
    padding-right:3px;
    text-align:center;
}
.bkvJarat {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #000000;
}
.bkvBusz {
    color: #FFFFFF;
    background-color: #20389F;
    /*border-color: #000000;*/
    border-color: #ffffff;
}
.bkvGyorsBusz {
    color: #FF0000;
    background-color: #20389F;
    border-color: #FF0000;
}
.bkvVillamos {
    color: #000000;
    background-color: #FFE300;
    border-color: #000000;
}
.bkvTroli {
    color: #FFFFFF;
    background-color: #CC3300;
    /*border-color: #000000;*/
    border-color: #ffffff;
}
.bkvHev {
    color: #FFFFFF;
    background-color: #326E38;
    /*border-color: #000000;*/
    border-color: #ffffff;
}
.bkvMetro1 {
    color: #000000;
    background-color: #FFB400;
    border-color: #000000;
}
.bkvMetro2 {
    color: #FFFFFF;
    background-color: #FF0101;
    /*border-color: #000000;*/
    border-color: #ffffff;
}
.bkvMetro3 {
    color: #FFFFFF;
    background-color: #0533EE;
    /*border-color: #000000;*/
    border-color: #ffffff;
}
.bkvEjszakai {
    color: #000000;
    background-color: #808080;
    border-color: #000000;
}
.bkvFogas {
    color: #FFFFFF;
    background-color: #FF0000;
    /*border-color: #000000;*/
    border-color: #ffffff;
}
.routeinfo {
  text-align:center
}
