<!DOCTYPE html>
%html
  %head
    %title 
      - title
      {% block title %}{%endblock%}
    %link{'rel':'stylesheet', 'href':'http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css'}
    %link{'rel':'stylesheet', 'href':'jqm.css'}
    %script{'src': 'http://code.jquery.com/jquery-1.4.3.min.js'} /
    %script{'src': 'http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js'} /
  %body
    %div{'data-role':'page'}
      %div{'data-role':'header'}
        %h1 Négyeshatos 
      %div{'data-role':'content'}
        - content
      %div{'data-role':'footer'}
        %h5
          egyetekhagymáthangérienonjön
