<!DOCTYPE html>
<html lang="hu">  
  <!--manifest="cache.manifest">-->
  <head>
    <title>
      {% block title %}{%endblock%}
    </title>
    <link rel="apple-touch-icon" href="/img/negyeshatoslogo.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta property="og:image" content="/img/negyeshatoslogo.png"/> 

    <link href='css/jquery.mobile-1.0a2.min.css' rel='stylesheet' />
    <link href='css/jqm.css' rel='stylesheet' />
    <script src="js/geo.js"></script>
    <!--<script src="js/geo_position_js_simulator.js"></script>-->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src='js/jquery-1.4.4.min.js'>/</script>
    <script src='js/jquery.mobile-1.0a2.min.js'>/</script>
    <script src='js/negyeshatos.js'></script>
  </head>
  <body>
        {% block elsolepes %}
        {% endblock %}
        {% block masodiklepes %}
        {% endblock %}
        {% block kereses %}
        {% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19440499-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
