<!DOCTYPE HTML>
<html lang="hu" manifest="cache.manifest">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Négyeshatos</title>

    <link rel="apple-touch-icon" href="/img/negyeshatoslogo.png"/> 
    <meta name="apple-mobile-web-app-capable" content="yes" /> 


  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>


  <script src="/js/geo.min.js"></script>
  <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>

  <link rel="stylesheet" href="/css/jquery.mobile-1.0a2.min.css" />
  <link href='/css/jqm.min.css' rel='stylesheet' />

  <script src="/js/jquery.mobile-1.0a2.min.js"></script>


  <script src="/js/bkv.min.js"></script>
  <script src="/js/geoloc.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    function renderFriends() {
      $.mobile.pageLoading();
      $("#elsolepes .content").html("");
      $.getJSON("/merrevagytok?", function (json) {
          $("#friendsTemplate").tmpl({venyuz:json}).appendTo($("#elsolepes .content")).listview();
          $.mobile.pageLoading(true);
      })
    }
    function renderRoute(to, place) {
      $.mobile.pageLoading();
      $("#masodiklepes .content").html("");
      planRoute({
        from: $("#mylocation").data("latlng"),
        to: to,
        maxwalkdistance: 110
      },
      function(gR) {
        $("#masodiklepes h1").text(unescape(place));
        $("#routeTemplate").tmpl({
          route: gR.m_arrMains[0],
          destination: to,
          imgsize: parseInt($("#elsolepes .content").width() * 0.95, 10) + "x" + parseInt($("#elsolepes .content").width() * 0.60, 10) 
          }).appendTo($("#masodiklepes .content"));
        $("#masodiklepes ul").listview();
        localStorage["utvonalterv"] = $("#masodiklepes").html();
        // https://github.com/jquery/jquery-mobile/issuesearch?state=closed&q=changePage#issue/550
        $.mobile.changePage("#masodiklepes", "slide", false, true);
        $.mobile.pageLoading(true);
      }, function(err) {
        alert("szerintem oda nem jár a bkv már. sajnálom, nem tudok segíteni :(")
        $.mobile.pageLoading(true);
      })
    }
    function egyeb() {
      var dest = prompt("Hova mész?");
      if (dest) {
      geokod({address:dest}, function(result) {
          renderRoute([result.geometry.location.lat(), result.geometry.location.lng()], dest)
      })
     } 
    }
    $(document).ready(function(){
        $(applicationCache).bind("updateready", function() {
          location.reload()
        })
       
       if (geo_position_js.init()) {
         geo_position_js.getCurrentPosition(
           function(p){geokod({lat:p.coords.latitude, lng:p.coords.longitude}, 
             function(result){
              $("#mylocation").text(result.formatted_address).buttonMarkup()
                     .data("latlng", [result.geometry.location.lat(), result.geometry.location.lng()])
             })},
           function(e){
             var mylocation = prompt("nem tudtam megállapítani, hol vagy. kérlek írd be kézzel")
             $.mobile.pageLoading()
             geokod({address:ujhely}, function(result) {
              $("#mylocation").text(result.formatted_address).buttonMarkup()
                     .data("latlng", [result.geometry.location.lat(), result.geometry.location.lng()])
              $.mobile.pageLoading(true);
            })

           });
       } 


        $("#mylocation").tap(function(){
          var ujhely = prompt('hol vagy?', $(this).text()),
              that = this;
          if (ujhely) {
            $.mobile.pageLoading()
            geokod({address:ujhely}, function(result) {
              $(that).text(result.formatted_address).buttonMarkup()
                     .data("latlng", [result.geometry.location.lat(), result.geometry.location.lng()])
              $.mobile.pageLoading(true);
            })
          }
        });
        /* --------------------------------- */
        if (location.hash === "#masodiklepes" && localStorage["utvonalterv"]) {
          $("#masodiklepes").html(localStorage["utvonalterv"]);
        } else {
          $.mobile.changePage("#elsolepes", "slide", true, true);
        }

        if (document.cookie.match("4sqid")) {
          $("#elsolepes .content").html( localStorage["friends"] || "lóding" );
          renderFriends();
        } else {
          $("#friendsTemplate").tmpl({venyuz:[]}).appendTo("#elsolepes .content");
          $("#elsolepes .content ul").listview();
        }
    })
  </script>
    <script id="friendsTemplate" type="text/x-jquery-tmpl"> 
      {{if venyuz.length === 0}}
      <div style="margin-bottom:50px;">
        <p><b>Jelentkezz be Foursquare-rel, hogy lásd, merre járnak a többiek: </b></p><a href='http://4s-hatos.appspot.com/oauth' rel='external'><img src='http://4s-hatos.appspot.com/img/signinwith-foursquare.png'></a>    
      </div>
      {{/if}}
      <ul id="to" data-role="listview">
        {{if venyuz.length}}
        <li data-role="list-divider">Barátaim a Foursquare-en</li>
        {{each venyuz }}
        <li>
        <a data-lat="${geolat}" data-lng="${geolong}" href="javascript:renderRoute([${geolat}, ${geolong}], '${escape(escape(name))}')">${name}</a> <i>(${lastseen})</i>
          <div class="ittvannak">
            {{each here }}
            <img src="${photo}" title="${firstname}" class="avatar">
            {{/each}}
          </div>
        </li>
        {{/each}}
        {{/if}}
        <li data-role="list-divider">Más uticél</li>
        <li><a href="javascript:egyeb()" id="egyeb">Máshova mennék, beírom...<p></p></a></li>
      </ul>
    </script>

  <script type="text/xjquery-tmpl" id="routeTemplate">
    {{each route.m_arrSubs}}
      {{if m_arrBkvLines.length}}
        <ul data-role="listview" data-inset="true">
          {{each m_arrBkvLines}}
            <li>
            <a href="${m_strLink}" class="bkvJarat ${m_strClass}">${m_strName}</a>
              ${m_strStopFrom} &rarr; ${m_strStopTo} <i>(${m_iStops} megálló, ${m_iTravelMinutes} perc)</i>
            </li>
          {{/each}}
        </ul>
      {{else}}
        {{if m_iLength > 20 && m_strName}}
        <ul data-role="listview" data-inset="true">
          <li><img src="/img/63-runner.png"> ${m_strName} <i>(${m_iLength} m)</i></li>
        </ul>
        {{/if}}
      {{/if}}
    {{/each}}
    <p>Összesen ${route.m_iLength / 1000 } km, ${route.m_iTravelMinutes} perc</p>
    <a href="http://maps.google.com/maps?ll=${destination[0]},${destination[1]}"><img style="margin:0 auto" src="http://maps.google.com/maps/api/staticmap?size=${imgsize}&sensor=false&zoom=15&center=${destination[0]},${destination[1]}&markers=color:red|${destination[0]},${destination[1]}"></a>
  </script>
</head>
<body>

  <div data-role="page" id="elsolepes" >
    <div data-role="header" data-position="inline">
      <h1>Négyeshatos<h1>
      <a href="javascript:renderFriends()" data-icon="refresh" class="ui-btn-right" data-iconpos="notext" data-theme="d">Frissítsd</a>
    </div>
    <div data-role="header" data-theme="d"><h2 style="margin-left:0; margin-right:0"><a href="#" id="mylocation" data-icon="negyeshatos-location">1055 Budapest, Astoria, Magyarország</a></h2></div>
<style type="text/css" media="screen"> 
  .jimmywales {
  margin: 0 auto;
    background: url("/img/jimbo.jpg") #eee no-repeat;
    border: 1px solid #aaa;
    padding-left: 140px;
    font-size:20px;
    font-weight:bold;
    font-family: sans-serif;
  }
  .jimmywales.mobil {
    font-size:14px;
  }
</style> 
<div class="jimmywales mobil"> 
  <a href="appeal.html" rel="external">Kérlek olvasd el Körtesi Gáspár Négyeshatos-alapító személyes felhívását!</a>
</div> 
    <div data-role="content" class="content">
    </div>
    <div data-role="footer">
      <a href="/about.html">about</a>
    </div>
  </div>
  <!-- -->
  <div data-role="page" id="masodiklepes">
    <div data-role="header" data-nobackbtn="true">
      <!-- back-gomb workaround: ha közvetlenül aloldalra érkezel, a back-gomb a címlapra vigyen, visszafele evezve -->
      <a href="javascript:$.mobile.changePage('#elsolepes', 'slide', true, true)" data-icon="arrow-l">Vissza</a>
      <h1>útvonal</h1></div>
    <div data-role="content" class="content">
    </div>
  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19440499-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
