{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock %}

{% block elsolepes %}
<div data-role='page' id='elsolepes'>
  <div data-role='header'>
    <h1><img src="/img/36.png">Négyeshatos</h1>
  </div>
  <div data-role='content'>
    <div data-role='fieldcontain'>
      <label for='from'>
        <h2>Itt vagyok:</h2>
      </label>
      <input id='from' type='text' name='from'></input>
    </div>
    <h2>Ide mennék:</h2>
    <ul id='to' data-role='listview' >
      {% for venyu in venyuz %}
        <li>
          <a data-lon='{{venyu.geolong}}' href='#masodiklepes' data-lat='{{venyu.geolat}}'>
            {{ venyu.name }}
          </a> <i>({{venyu.lastseen|date_diff}})</i>
          <div class='ittvannak'>
            {% for friend in venyu.here %}
              <img class='avatar' src='{{friend.photo}}' />
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div data-role='footer'>
    <a href='/jegyzetek/about.html'>about</a>
  </div>
</div>
{% endblock %}
{% block masodiklepes %}
<div data-role='page' id='masodiklepes'>
  <div data-role='header'>
    <h1><img src="/img/36.png">Négyeshatos</h1>
  </div>
  <div data-role='content'>
    <h2>Így jutsz el ide: <span id="uticel"></span></h2>
    <div id="ut">
    </div>
    <p id='utinfo'></p>
  </div>
</div>
{% endblock %}

{% block kereses %}
<div data-role='page' id='kereses'>
  <div data-role='header'>
    <h1>Menjél messzebb</h1>
  </div>
  <div data-role='content'>
    <div data-role="fieldcontain">
      <label for="search">Nem Foursquare, hanem Google-geokódolás. Írd ide a pontos címet, a környéket, vagy akár csak a <b>buszmegállót</b> ahova el akarsz jutni </label>
        <input type="text" id="egyebto" value="" />
    </div><button type="submit" data-theme="a" id="huss">Huss</button>
  </div>
</div>
{% endblock %}
