{% extends "base.html" %}


- block title
  = title

- block elsolepes 
  %div{'data-role':'fieldcontain'}
    %label{'for':'from'}
      %h2 Itt vagyok:
    %input#from{'type':'text', 'name':'from'}
  %h2 Ide mennék:
  %ul#to{'data-role':'listview', 'data-inset':'true'}
    - for venyu in venyuz
      %li
        %a{'href':'#masodiklepes', 'data-lat':'{{venyu.geolat}}', 'data-lon':'{{venyu.geolong}}'}
          = venyu.name
        .ittvannak
          - for friend in venyu.here
            %img{'class': 'avatar', 'src': '{{friend.photo}}'}
    %li
      %a{'href':'#kereso'}
        Egyéb&#0133;

- block masodiklepes
  %h2 Így jutsz el ide: <span id="uticel"></span>
  %ul{'id':'utvonal', 'data-role':'listview', 'data-inset':'true'}
  %p#utinfo

- block kereso 
  %h2 Így jutsz el ide: <span id="uticel"></span>
  %ul{'id':'utvonal', 'data-role':'listview', 'data-inset':'true'}
  %p#utinfo
